<div class="top-nav">
    <div class="logo-container">
        <img src="../../../../assets/SEP_Logo_2019.png" alt="Logo SEP" class="logo_esc">
        <img src="../../../../assets/ceca1.png" alt="Logo CECATI" class="logo_ceca">
    </div>
</div>

<header class="header">
    <div class="logo">CECATI 82</div>
    <input type="checkbox" id="toggle">
    <label for="toggle"><img class="menu" src="../../../../assets/menu.svg" alt="Menú"></label>
    <nav class="navigation">
        <ul>
            <li><a href="https://www.dgcft.sems.gob.mx/" target="_blank">DGCFT</a></li>
            <li><a href="https://www.cidfort.edu.mx/" target="_blank">CIDFORT</a></li>

            <li>
                <a routerLink="/inicio">Inicio</a>  <ul>
                    <li><a routerLink="/inicio" fragment="somos">Quienes somos</a></li>
                    <li><a routerLink="/inicio" fragment="video">Video Institucional</a></li>
                    <li><a routerLink="/inicio" fragment="Galeria">Galería</a></li>
                    <li><a routerLink="/inicio" fragment="conocer">Centro Evaluador</a></li>
                    <li><a routerLink="/inicio" fragment="servicios">Servicios</a></li>
                    <li><a routerLink="/inicio" fragment="Calendario">Calendario</a></li>
                </ul>
            </li>

            <li>
                <a routerLink="/informes">Informes</a>
                <ul>
                    <li><a routerLink="/informes" fragment="Directorio">Directorio</a></li>
                    <li><a routerLink="/informes" fragment="Requisitos">Requisitos</a></li>
                    <li><a routerLink="/informes" fragment="Ubicacion">Ubicación</a></li>
                </ul>
            </li>

            <li>
                <a routerLink="/tablas">Cursos</a>
                <ul>
                    <li><a routerLink="/tablas">Cursos</a></li>  <li><a routerLink="/organigrama">Organigrama</a></li> </ul>
            </li>

            <li><a routerLink="/sugerencias">Sugerencias</a></li>

            <li><a routerLink="/login" class="login-button">Iniciar Sesión</a></li>
            <li><a routerLink="/registro">Registrarse</a></li>
        </ul>
    </nav>
</header>