<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informes - CECATI 82</title>
</head>
<body>
    <main>
        <section>
            <h2 class="subtitulo" id="Directorio">
                <p>Directorio</p>
            </h2>
            <div class="directory">
                <div class="person">
                    <img src="../../../assets/Directorio/Director.png" alt="Dirección CECATI 82">
                    <div class="info">
                        <h2>Rubén Vázquez García</h2>
                        <p>Dirección CECATI 82</p>
                        <p>Teléfono directo: +52 (246) 462-65-63</p>
                        <p>Correo electrónico: cecati82.dir dgcft.sems.gob.mx</p>
                    </div>
                </div>
                <div class="person">
                    <img src="../../../assets/Directorio/Jefatura de Capacitacion.png" alt="Jefatura de Capacitación del CECATI 82">
                    <div class="info">
                        <h2>Jorge Saldaña Chavarria</h2>
                        <p>Jefatura de Capacitación del CECATI 82</p>
                        <p>Teléfono directo: +52 (246) 462-65-63</p>
                        <p>Correo electrónico: cecati82.cap dgcft.sems.gob.mx</p>
                    </div>
                </div>
                <div class="person">
                    <img src="../../../assets/Directorio/Jefatura de Servicios Administrativos.png" alt="Jefatura de Servicios Administrativos del CECATI 82">
                    <div class="info">
                        <h2>Esteban Dolores Lara</h2>
                        <p>Jefatura de Servicios Administrativos del CECATI 82</p>
                        <p>Teléfono directo: +52 123-456-7891</p>
                        <p>Correo electrónico: cecati82.admvo dgcft.sems.gob.mx</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="contenedor" id="Requisitos">
            <h2 class="subtitulo">
                <p>Requisitos de Inscripción</p>
            </h2>
            <div class="info-requisitos">
                <p>
                    * Copia de acta de nacimiento.<br>
                    * Copia de CURP.<br>
                    * Copia de comprobante de estudios.<br>
                    * Copia de comprobante de domicilio.<br>
                    * Tener mínimo 15 años de edad.<br>
                    * Copia del INE.<br>
                    * En caso de menores de edad, presentar INE de padre o tutor.
                </p>
                <img class="infoimagen" src="img/informes.jpg">
            </div>
        </section>
        <section id="Ubicación" class="contact">
            <div class="contenedor">
                <div class="section-header"><h2 class="subtitulo">Ubicación</h2></div>
            </div>
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3765.184285361277!2d-98.24560168509511!3d19.317807986949585!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTnCsDE5JzA0LjEiTiA5OMKwMTQnMzYuMyJX!5e0!3m2!1ses!2smx!4v1512497416800" width="600" height="450" style="border:0;" allowfullscreen loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </section>
        <div class="contenedor-info">
            <img src="img/icono-direccion.svg" alt="">
            <div class="info-section">
                <div class="info">
                    <h3 class="n-info">Dirección</h3>
                    <p>C. Miguel Hidalgo y Costilla Núm. 32, Centro, 90000 Tlaxcala de Xicohténcatl Tlax</p>
                </div>
            </div>
        </div>
        <div class="contenedor-info">
            <img src="img/icono-correo.svg" alt="">
            <div class="info-section">
                <div class="info">
                    <h3 class="n-info">Correo</h3>
                    <p>cecati82.dir dgcft.sems.gob.mx</p>
                    <p>cecati82.cap dgcft.sems.gob.mx</p>
                </div>
            </div>
        </div>
        <div class="contenedor-info">
            <img src="img/icono-telefono.svg" alt="">
            <div class="info-section">
                <div class="info">
                    <h3 class="n-info">Teléfono</h3>
                    <p>246 462 6563</p>
                </div>
            </div>
        </div>
    </main>
</body>
</html>