<footer class="pie-pagina">
    <div class="grupo-1">
        <div class="box">
            <figure>
                <a>
                    <img src="../../../../assets/SEP_Logo_2019.png" alt="Logo cecati">
                </a>
            </figure>
        </div>
        <div class="box">
            <h2>Enlaces</h2>
            <ul>
                <li>
                    <a href="http://www.dgcft.sems.gob.mx/" target="_blank">Página oficial DGCFT</a>
                </li>
                <li>
                    <a href="https://www.cidfort.edu.mx/" target="_blank">Página oficial CIDFORT</a>
                </li>
                <li>
                    <a href="https://www.gob.mx/sep" target="_blank">Secretaría de Educación Pública</a>
                </li>
            </ul>
        </div>
        <div class="box">
            <h2>Horario de atención</h2>
            <ul>
                <li><a>Lunes a Viernes</a></li>
                <li><a>08:00 A.M a 07:00 P.M</a></li>
                <li><a>Sábado: 8:00 A.M a 01:00 P.M</a></li>
            </ul>
        </div>
        <div class="box">
            <h2>Siguenos en</h2>
            <div class="social-media">
                <a href="https://www.facebook.com/CeCaTi82" target="_blank" class="social-media-icon">
                    <i class='bx bxl-facebook'></i>
                </a>
                <a href="https://www.youtube.com/@CECATI82TLAXCALA-be9kh" target="_blank" class="social-media-icon">
                    <i class='bx bxl-youtube' ></i>
                </a>
                <a href="https://www.instagram.com/cecati82_tlax/" target="_blank" class="social-media-icon">
                    <i class='bx bxl-instagram' ></i>
                </a>
            </div>
        </div>
    </div>
    <div class="grupo-2">
        <small>&copy; 2024 <b>CECATI 82</b> - Todos los Derechos Reservados.</small>
    </div>
</footer>