<h2>Mis Calificaciones</h2>

<div *ngIf="loading()">
  <p>Cargando calificaciones...</p>
</div>

<div *ngIf="error()" class="error-message">
  <p>{{ error() }}</p>
</div>

<div *ngIf="!loading() && !error() && calificacionesToShow().length > 0">
  <table>
    <thead>
      <tr>
        <th>Curso</th>
        <th>Categoría</th>
        <th>Calificación</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let calificacion of calificacionesToShow()">
        <td>{{ calificacion.nombre_curso }}</td>
        <td>{{ calificacion.nombre_categoria}}</td>
        <td>{{ calificacion.calificacion }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="!loading() && !error() && calificacionesToShow().length === 0">
  <p>No tienes calificaciones registradas.</p>
</div>