<div class="container">
  <div class="card position-relative">
    <button type="button" class="btn btn-link position-absolute top-0 start-0 m-3" (click)="goBack()" style="text-decoration: none; font-size: 24px; color: #611232;">
      &larr;
    </button>

    <h3 class="text-center">Iniciar sesión</h3>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label class="label">Correo</label>
        <input type="email" formControlName="correo" class="form-control" placeholder="Correo electrónico">
      </div>

      <div class="mb-3">
        <label class="label">Contraseña</label>
        <input type="password" formControlName="contrasena" class="form-control" placeholder="Contraseña">
      </div>

      <button type="submit" class="btn btn-primary">Iniciar sesión</button>
    </form>
    <p class="text-center text-danger mt-3">{{ errorMessage }}</p>
  </div>
</div>