
.accordion {
    width: 80%;
    max-width: 900px;
    margin: 40px auto;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.accordion-item {
    border-bottom: 1px solid #ddd;
}

.accordion-item:last-child {
    border-bottom: none;
}

.accordion-button {
    background-color: #fff;
    color: #333;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    text-align: left;
    font-size: 1.2em;
    border: none;
    outline: none;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion-button:hover {
    background-color: #f0f0f0;
}

.accordion-content {
    display: none;
    padding: 15px;
    background-color: #f9f9f9;
    font-size: 1em;
}

.accordion-button.active .icon {
    transform: rotate(180deg);
}

.icon {
    transition: transform 0.3s ease;
}

@media (max-width: 768px) {
    .accordion {
        width: 100%;
    }

    h1 {
        font-size: 2em;
    }

    .accordion-button {
        font-size: 1em;
    }
}

/*--------------------------------------------------------------
# Course Table Styles
--------------------------------------------------------------*/
.table-container {
    overflow-x: auto;
    margin: 20px auto;
    max-width: 90%;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 14px;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #7a2222;
    color: white;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
tr:hover {
    background-color: #f1f1f1;
}


/*--------------------------------------------------------------
# Media Quiries
--------------------------------------------------------------*/
@media screen and (max-width: 800px){
    
    .logo_esc {
        width: 20%;
    }

    .logo_ceca{
        width: 20%;
    }

    .titulo{
        font-size: 40px;
        margin: 16px 0 32px;
    }
    .subtitulo{
        font-size: 40px;
    }
    .contenedor-conocenos img{
        width: 60%;
    }
    .mision-conocenos{
        width: 80%;
    }
    .cecavideo{
        width: 100%;
    }
    .contenedor-info img{
        width: auto;
    }
    .footer-content{
        justify-content: center; 
    }
    .social-media{
        width: 80%;
        justify-content: space-evenly;
    }
    .social-media-icon{
        margin-left: 0;
    }
    .social-media i{
        margin-left: 0;
    }
    .contact-us{
        text-align: center;
        width: 80%;
        margin-bottom: 40px;
    }

    .contact-us h2{
        text-align: center;
    }

    .nav-links{
        text-align: left;
        width: 100%;
    }
}

@media screen and (max-width: 500px){

    .titulo{
        font-size: 40px;
    }

    .copy{
        font-size: 20px;
        padding-left: 10px;
    }

    .social-media{
        width: 100%;
    }

    .contact-us{
        width: 90%;
    }
    
}