<h2>Administrar Contenido</h2>

<button (click)="openCreateCourseModal()">Crear Nuevo Curso</button>
<button (click)="openCreateCategoryModal()">Crear Nueva Categoría</button>

<div *ngIf="loading()">Cargando...</div>
<div *ngIf="error()" class="error-message">{{ error() }}</div>

<div class="table-container">
  <h3>Categorías</h3>
  <table>
      <thead>
          <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Descripción</th>
              <th>Precio</th>
              <th>Acciones</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let category of categories()">
              <td>{{category.id}}</td>
              <td>{{category.nombre}}</td>
              <td>{{category.descripcion ? category.descripcion : 'N/A'}}</td>
              <td>{{category.precio | currency:'MXN':'symbol':'1.2-2':'es'}}</td>
              <td>
                  <button (click)="openEditCategoryModal(category)" class="edit-button">Editar</button>
                  <button (click)="deleteCategory(category.id)" class="delete-button">Eliminar</button>
              </td>
          </tr>
           <tr *ngIf="categories().length === 0 && !loading()">
              <td colspan="5">No hay categorías registradas.</td>
          </tr>
      </tbody>
  </table>
</div>




<div class="table-container">
  <h3>Cursos</h3>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Categoría</th>
        <th>Duración (horas)</th>
        <th>Hora de Inicio</th>
        <th>Hora de Término</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let course of courses()">
        <td>{{ course.id }}</td>
        <td>{{ course.nombre }}</td>
        <td>{{ course.nombre_categoria }}</td>
        <td>{{ course.duracion_horas }}</td>
        <td>{{ course.hora_inicio }}</td>
        <td>{{ course.hora_termino }}</td>
        <td>
          <button (click)="openEditCourseModal(course)" class="edit-button">Editar</button>
          <button (click)="deleteCourse(course.id)" class="delete-button">Eliminar</button>
        </td>
      </tr>
      <tr *ngIf="courses().length === 0 && !loading()">
        <td colspan="7">No hay cursos registrados.</td>
      </tr>
    </tbody>
  </table>
</div>


<div *ngIf="showCreateCourseModal()" class="modal">
  <div class="modal-content">
    <span class="close" (click)="closeCreateCourseModal()">&times;</span>
    <h3>Crear Nuevo Curso</h3>
    <form (ngSubmit)="createCourse()">
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" [(ngModel)]="newCourse.nombre" required>
      </div>
      <div class="form-group">
          <label for="categoria_id">Categoría:</label>
          <ng-select [items]="categories()"
                    bindLabel="nombre"
                    bindValue="id"
                    placeholder="Selecciona una categoría"
                    name="categoria_id"
                    [(ngModel)]="newCourse.categoria_id"
                    required>
          </ng-select>
      </div>
      <div class="form-group">
        <label for="duracion_horas">Duración (horas):</label>
        <input type="number" id="duracion_horas" name="duracion_horas" [(ngModel)]="newCourse.duracion_horas" required>
      </div>
      <div class="form-group">
        <label for="hora_inicio">Hora de Inicio:</label>
        <input type="time" id="hora_inicio" name="hora_inicio" [(ngModel)]="newCourse.hora_inicio" required>
      </div>
      <div class="form-group">
        <label for="hora_termino">Hora de Término:</label>
        <input type="time" id="hora_termino" name="hora_termino" [(ngModel)]="newCourse.hora_termino" required>
      </div>
      <button type="submit" class="create-button">Crear Curso</button>
    </form>
  </div>
</div>

<div *ngIf="showEditCourseModal()" class="modal">
  <div class="modal-content">
    <span class="close" (click)="closeEditCourseModal()">&times;</span>
    <h3>Editar Curso</h3>
    <form (ngSubmit)="updateCourse()">
      <div class="form-group">
        <label for="edit-nombre">Nombre:</label>
        <input type="text" id="edit-nombre" name="nombre" [(ngModel)]="selectedCourse()!.nombre" required>
      </div>
        <div class="form-group">
            <label for="edit-categoria_id">Categoría:</label>
            <ng-select [items]="categories()"
                       bindLabel="nombre"
                       bindValue="id"
                       placeholder="Selecciona una categoría"
                       name="categoria_id"
                       [(ngModel)]="selectedCourse()!.categoria_id"
                       required>
            </ng-select>

        </div>
      <div class="form-group">
        <label for="edit-duracion_horas">Duración (horas):</label>
        <input type="number" id="edit-duracion_horas" name="duracion_horas" [(ngModel)]="selectedCourse()!.duracion_horas" required>
      </div>
      <div class="form-group">
        <label for="edit-hora_inicio">Hora de Inicio:</label>
        <input type="time" id="edit-hora_inicio" name="hora_inicio" [(ngModel)]="selectedCourse()!.hora_inicio" required>
      </div>
      <div class="form-group">
        <label for="edit-hora_termino">Hora de Término:</label>
        <input type="time" id="edit-hora_termino" name="hora_termino" [(ngModel)]="selectedCourse()!.hora_termino" required>
      </div>
      <button type="submit" class="save-button">Guardar Cambios</button>
    </form>
  </div>
</div>

<div *ngIf="showCreateCategoryModal()" class="modal">
    <div class="modal-content">
        <span class="close" (click)="closeCreateCategoryModal()">&times;</span>
        <h3>Crear Categoría</h3>
        <form (ngSubmit)="createCategory()">
            <div class="form-group">
                <label for="nombre-categoria">Nombre:</label>
                <input type="text" id="nombre-categoria" name="nombre" [(ngModel)]="newCategory.nombre" required>
            </div>
            <div class="form-group">
                <label for="descripcion-categoria">Descripción:</label>
                <textarea id="descripcion-categoria" name="descripcion" [(ngModel)]="newCategory.descripcion"></textarea>
            </div>
            <div class="form-group">
                <label for="precio-categoria">Precio:</label>
                <input type="number" id="precio-categoria" name="precio" [(ngModel)]="newCategory.precio" required>
            </div>
            <button type="submit" class="create-button">Crear Categoría</button>
        </form>
    </div>
</div>

<div *ngIf="showEditCategoryModal()" class="modal">
    <div class="modal-content">
      <span class="close" (click)="closeEditCategoryModal()">&times;</span>
      <h3>Editar Categoría</h3>
      <form (ngSubmit)="updateCategory()">
        <div class="form-group">
          <label for="edit-category-nombre">Nombre:</label>
          <input type="text" id="edit-category-nombre" name="nombre" [(ngModel)]="selectedCategory()!.nombre" required>
        </div>
          <div class="form-group">
                <label for="descripcion-categoria-edit">Descripción:</label>
                <textarea id="descripcion-categoria-edit" name="descripcion" [(ngModel)]="selectedCategory()!.descripcion"></textarea>
            </div>
        <div class="form-group">
          <label for="edit-category-precio">Precio:</label>
          <input type="number" id="edit-category-precio" name="precio" [(ngModel)]="selectedCategory()!.precio" required>
        </div>
        <button type="submit" class="save-button">Guardar Cambios</button>
      </form>
    </div>
  </div>